.bg-primary{
    background-color: #F1F1F1!important;
    font-family: Caudex !important;
}
.heading-text{
    color:#D95C19;  
    padding:13px 0; 
}
.mobile-hr{background-color: #D95C19;}

.paragraph-description{
    margin-top:0.8em;
    margin-bottom: 0.8em;
    font-size: 1.3em;
    font-weight: normal;
    font-family: Caudex !important;
    line-height: 1.7;
}
.buttons
{
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-weight: 400;
    font-size:1.2em;
    color:black;
    background-color:white;
    padding:1.5%;
    border:1px solid white;
    border-radius: 290px;
    margin-right: 1.5%;
    margin-bottom: 10px;
  }
  .buttons:hover{
      background-color: #F1F1F1;
  }
  
  