<section class="bg-primary" id="page-description">
<div class="container text-center">
  <div class="heading-text"><h1>Andaman Day-Wise Tour Itinerary</h1>
  </div>
  <hr class="mobile-hr col-2">
  
  <br>
    <div class="row justify-content-center align-items-center "> 
     <p class="paragraph-description ">Day 1: Arrival at Port Blair/ Visit the Cellular Jail and witness the Light n Sound Show at the Cellular Jail</p>
     <p class="paragraph-description text-faded">Fly into Port Blair Airport. Our representative will meet and assist you at the Veer Savarkar Airport. Board the 
       waiting vehicles, drive to your hotel and check-in. The first half of the day is at leisure. Later Cellular Jail 
       followed by light and sound show. The Cellular Jail has a pride of place in India’s freedom struggle. 
       Many a stalwart were imprisoned here. Declared a national memorial, this three-story prison constructed by 
       Britishers in 1906, is a pilgrimage destination for freedom fighters. This colossal edifice has mutely witnessed the most 
       treacherous of inhumane atrocities borne by the convicts, who were mostly freedom fighters. The day draws to a
        gentle close with the Sound and Light Show at the historic Cellular Jail which gives you a vivid experience of
         its strong association with the freedom fighters and their struggle for independence. proceed for visit to 
         Overnight stay at respective Hotel / Resort at Port Blair.</p>
     <p class=" text-faded paragraph-description">Day 2: Port Blair to Havelock/ Excursion to Radhanagar beach in the afternoon</p>
     <p class="paragraph-description text-faded">After breakfast, get transferred to Phoenix Bay Harbour to catch a ferry to Havelock. The Island is one of 
       the most beautiful and largest islands of Ritchie's Archipelago and is a placid heaven like no other, thus 
       making it the most popular island in Ritchie’s Archipelago. Situated 57 km northeast of the South Andamans 
       with an area of 92 Sq. Kms, she offers a breathe taking the trail of nature expeditions. The island is 
       primarily populated by Bengali settlers. This picturesque Island with beautiful sandy beaches and the lush 
       green forest is also rated as the seventh most beautiful island in the world. It hosts two of the world’s 
       most renowned beaches; Vijaynagar Beach and Radhanagar Beach. The Island also has the biggest concentration 
       of breath-taking diving and snorkeling sites, thus acting as a paradise to marine world explorers. On 
       arrival, the cab will be provided to pick up and drop guest to Beach No 7, Radhanagar beach rated as the 
       best beach in Asia. Spend the day relaxing on this beach. Later proceed to selected hotel. Stay here 
       overnight amongst sandy beach and lush green forest in a comfortable beach resort.</p>
       <p class="paragraph-description ">Day 3: Excursion to Kalapathar Beach</p>
       <p class="paragraph-description text-faded">Today after breakfast, we will take you for a visit to Kalapathar Beach, a beach with a beautiful 
         Atmosphere, with a crystal clean surface of seawater, mesmerizing white sandy beach, usually known as a 
         great picnic spot for visitors. Kalapthar beach is most famous for its beauty of the white sand beach and 
         crystal clear water surface. Later get back to hotel/resort. Overnight stay at Havelock.</p>
        <p class="paragraph-description">Day 4: Havelock Island to Neil Island/ Excursion to Laxmanpur Beach</p>
        <p class="paragraph-description text-faded">After breakfast, the cab will be provided to pick up and drop guest to Havelock harbor to catch a ferry 
          to Neil Island as per ferry timings advised. Neil Island dwells with lush green surroundings of paddy 
          fields, banana plantations, and tropical trees. Pristine sandy beaches at Bharatpur and Laxmanpur are 
          some of the best beaches to explore. A quite heaven for backpack travelers. On arrival at Neil Island, 
          get transferred to the selected hotel & after check in half of the day is at leisure. Later in the 
          afternoon proceed for a trip to Laxmanpur beach to enjoy a breathtaking sunset. Spend the evening 
          relaxing on this beach & enjoying the amazing sunset view. Stay overnight at respective Hotel / Resort at
           Neil Island.</p>
          <p class="paragraph-description">Day 5: Excursion to Bharatpur Beach/ Return back to Port Blair</p>
          <p class="paragraph-description text-faded"> After Breakfast check out from Hotel/resort, & leave for an excursion to the Bharatpur Beach. The 
            breathtaking view of the sea and the lusting greeneries on this beach is really rejuvenating and 
            enjoyable for enthusiastic travellers. Spend the day relaxing on this beach & catch a ferry to Port 
            Blair as per ferry timings advised. Return to Port Blair. Stay Overnight at Port Blair.</p>
            <p class="paragraph-description">Day 6: Departure with sweet memories</p>

               <p class="paragraph-description text-faded"> Well, all good things come to an end! Today after breakfast, you will be transferred to the 
                 airport for your flight back to the mainland! We are sure you will be leaving with a lot of 
                 cherished memories. We also customize Andaman Tour Package as per requirement. Please contact on 
                 9902860849 / submit your query in the enquiry form for more details</p>
                
                <p class="paragraph-description">Day 7: Note</p>
                <p class="paragraph-description text-faded">We also customize Andaman Tour Packages as per requirement. Please contact on 9902860849 / submit 
                  your query in the enquiry form for more details</p>
    </div>
    <button class="buttons page-scroll"  onclick="window.location.href='#slider'">Gallery</button>
     </div>
     </section>