.bg{
    padding: 0;
    margin: 0;
    height: 650px;
}

.btn-primary{
    background: transparent;
    border-radius: 3ch;
    padding: 2%;
}
.vid{
    padding: 0;
    height: 500px;

}
.andaman-header-content{
    color: white;
    position: absolute;
    top:30%;
    left:35%;
}
.cursive{
    font-family: cursive;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

 .buttons
 {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-weight: 400;
    font-size:1.2em;
    color:white;
    background-color:transparent;
    padding:1.5%;
    border:1px solid white;
    border-radius: 290px;
    margin-right: 1.5%;
  }