<div class="container-fluid text-center bg" [ngStyle]="isImage ?title_image:''">
    <div class="container-fluid vid" *ngIf="isImage===false">    
            <video autoplay loop class="">
                <source [src]="title_video" type="video/mp4" /> 
                Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
     </div> 

    <div class="andaman-header-content">
        <div class="andaman-inner">
            <h1 class="cursive">Andaman Tour Packages</h1>
            <h6 class="">Experience Incredible Andaman With Funstay</h6>
            <hr class="col-4" [ngStyle]="{'background-color':'#D95C19'}">
            <br>
            <button href="#video-background" id="toggleVideo" (click)="toggleVideo()" data-toggle="collapse" class="btn btn-primary btn-xl">Toggle Video</button> &nbsp; <button  class="btn btn-primary btn-xl page-scroll" onclick="window.location.href='#page-description'">Explore</button>
        </div>
    </div>
</div>
  
  <!-- ng-style="{'background-image':'url(https://www.google.com/images/srpr/logo4w.png)'}"> -->
  <!-- <div class="container" *ngIf="isImage===false">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        
          </video>
  </div> -->
