/* img{
    width:70%;
    height:400px;
} */

.text-center{
    background: white;
    color:#D95C19;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 15px;
    
}
.slider{
    padding: 0;
    width:70%;
}
.slider-heading-text{
    color:#262626;
    padding: 10px;
}
.row{
    padding: 3%;
    padding-top:0;
}
.col p.description{
    color:#555555;
}
a.carousel-control-prev-icon{
    background-color: blue;
}
