
<!-- <div class="container-fluid text-center">
<div class='12'><h1>hiii</h1></div>
<div class='col-12' *ngFor="let image of images">
<ngb-carousel>
  <ng-template ngbSlide>
    <img src="{{image}}" >
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>
</div> -->
<!-- <div class="container-fluid mt-3">
    <h1>Why Funstay.in </h2>
    <div class="d-flex p-3 bg-secondary text-white">  
      <div class="p-2 bg-info">Flex item 1</div>
      <div class="p-2 bg-warning">Flex item 2</div>
      <div class="p-2 bg-primary">Flex item 3</div>
    </div>
  </div> -->
  <!-- https://mdbootstrap.com/docs/angular/advanced/carousel/ -->
 <div class="container-fluid text-center" id="slider">
   <div class="slider-heading-text"><h1>Why Funstay </h1></div>
   
    <div class="row justify-content-center align-items-center"> 
        <div class="col">
          <img [src]="images_logo[0]" alt="Random first slide">
          <h3>Happy Customers</h3>
          <p class="description">Served more than 5000 travellers</p>
        </div>
        <div class="col">
           <img [src]="images_logo[1]" alt="Random first slide">
           <h3>Customized Package</h3>
           <p class="description">Build your own tour based on Experiences needed</p>
          </div>
        <div class="col">
          <img [src]="images_logo[2]" alt="Random first slide">
          <h3>Value for Money</h3>
          <p class="description">Feel every penny worth</p>
        </div>
      </div>
      
    <div class='col-12 container slider'>
    <ngb-carousel *ngIf="images" >
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
          <img [src]="images[3]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[4]" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
              <img [src]="images[5]" alt="Random third slide">
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
    </ngb-carousel>
    </div>
    </div> 