<section class="bg-primary" id="book-now">
    <div class="container text-center justify-content-center">
        <div class="call-to-action">
            <h2 >Get Started</h2>
            <button type="button" class="btn btn-default">Book Now</button>
        </div>
        <hr class="getstarted-hr col-2">
    </div>
</section>