.bg-primary{
    background-color: #E5E5E5!important;
    height:200px;
    padding-top: 5%;
    color: #D95C19;
    
}
.btn-default{
    border-radius: 40ch;
    background-color: white;
    padding:0 10px; 
}
.getstarted-hr{
    background-color:#D95C19;

}