<section class="container-fluid" id="detail">
    <div class="row">
        <div class="container text-center">
                <h2 class="margin-top-0 text-center">Stay Details</h2>
                <hr class="mobile-hr col-1">
                <br>
                                    <p class="font-weight-light">Deluxe</p>
                <p class="text-faded">Port Blair: Hotel North Reef / Hotel Da Bay Inn / Hotel TSG Emerald OR Similar Havelock Island: Eldorado Beach Resort / Gold Star Beach Resort or Similar Neil Island: Pearl Park Resort / Vacation Village Resort or Similar</p>
                                    <p class="font-weight-light">Luxury</p>
                <p class="text-faded">Hotel Sinclairs Bayview / Peerless Sarovar Portico Resort / Suncity Rose Valley Resort Or Similar TSG Blue Resort / Symphony Palm Beach Resort / Sands Marina Beach Resort or Similar Pearl Park Resort / Vacation Village Resort OR Similar</p>
        </div>
        <div class="container">
            <div class="row justify-content-around text-center">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4">
                    <h2 class="margin-top-0 text-center ">Inclusions</h2>
                    <hr class="mobile-hr col-3">
                    <ul class="text-faded">
                        <li>Flower bouquet on arrival and Welcome drinks (Tender Coconut)</li>
                        <li>Air Conditioned Accommodation on double sharing basis at all places</li>
                        <li>Sightseeing/ Transfers:1 A/C Private Car in Port Blair/ Havelock Island</li>
                        <li>Full day tours with all transfers including airport pickup and drop</li>
                        <li>Hotel Plan: C.P (complimentary breakfast)</li>
                        <li>Entry permits/ Entry tickets/ Boat tickets/ Forest permits/ Luxury catamaran tickets wherever required.</li>
                        <li>All kind of transport, parking charges and luxury taxes</li>
                        <li>Two way in high speed Luxury Catamaran M.V. Makruzz to Havelock Island</li>
                        <li>Assistance at all arrival and departure points.(Pick up from airport and drop to airport, pick up and drop to harbour for Havelock Island and back and other mentioned in itinerary)</li>
                        <li>All other specified expenses and activities.</li>
                    </ul>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4">
                    <h2 class="margin-top-0 text-center ">Exclusions</h2>
                    <hr class="mobile-hr col-3">
                    <ul class="text-faded">
                        <li>All kind of personal expenses such as tips, laundry, telephone bills and beverages.</li>
                        <li class="">Itinerary does not include any meals other than hotel plan (unless and otherwise specifically mentioned)</li>
                        <li class="">Domestic and International airfare</li>
                        <li>Jolly Ride/ Scuba Diving/ Sea Walk</li>
                        <li class="">Optional, suggested or unspecified activities.</li>
                        <li class="">Camera Fee (still or movie)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>